body {
    background-color: #202020;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
}

header {
    grid-column: 1 / 3;
    grid-row: 2 / 4;
}

h1,
h2,
p,
label,
button {
    display: grid;
    font-family: outfit;
    color: white;
}

a {
    display: grid;
    font-family: outfit;
    color: #FC3A05;
}

button {
    background-color: #FC3A05;
    cursor: pointer;
    border-radius: 10px;
    border: none;
}

footer{
    display: grid;
    grid-column: 2 / 4;
    grid-row: 4 / 5;
    justify-content: center;
}

main{
    display: grid;
    grid-column: 3 / 5;
    grid-row: 2 / 5;
}